@page "/card"



<h3>Card</h3>
<div class=" Card">

    <div class=" card m-3" style=min-width: 18rem; max-width:30.5%">
        <div class="card-body">
            Word


            <div class=" card-footer">
                <h3> correct <br /> false  </h3>
            </div>
        </div>
    </div>
</div>

<div class=" Card">

    <div class=" card m-3" style="min-width: 18rem; max-width:30.5%">
        <div class="card-body">
            Definition


            <div class=" card-footer">
                <h3> correct <br /> false  </h3>-->
            </div>
        </div>
    </div>
</div>