@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.spinner {
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 40%;
    left: 55%;
    position: absolute;
}

@keyframes spinz {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}
    .def{
        background-color:deepskyblue;
        color:white;
    }

    .term{
        background-color:antiquewhite;
        color:black;
    }

@keyframes spin {
    0%{
        transform:rotate(180deg)
    }

    100%{
        transform: rotate(-360deg)
    }
}
.HideFooter {
    display: none;
}

a {
    text-decoration:none;
    display : inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: white;
    color: black;
}

.next {
    background-color: white;
    color: black;
}

.round{
     border-radius:50%;
}

.flip-card{
    background-color : transparent;
    width:300px;
    height: 200px;
    outline:none;

    perspective:1000px

}

.flip-card-inner {

    position: relative;
    width:100%;
    height:100%;
    text-align:center;
    transition : transform 0.8s;
    transform-style: preserve-3d;
    outline:none;


}

.flip-card:hover .flip-card-inner {

    transform: rotateY(180deg);
    outline:none;

    
    
}

.flip-card-front , .flip-card-back{

    position:absolute;
    width:100%;
    height:100%;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    outline:none;

    
}

.flip-card-front{
    background-color:lightsalmon;
    color:black;
    outline:none;

    
}

.flip-card-back{
    background-color :lightsalmon;
    color: black;
    transform: rotateY(180deg);
    border: none !important;

    
}

.flashcard{
    margin: auto;
    width: 20%;
    /* border: 5px solid #FFFF00; */
    padding: 10px;

}